.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
pgdata/
.DS_Store
*.log
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/

# Terraform files to ignore
infra/terraform/.terraform/
infra/terraform/.terraform.lock.hcl
infra/terraform/terraform.tfstate
infra/terraform/terraform.tfstate.backup
infra/terraform/key/
